.root {
    -fx-font-family: 'Arial';
    -fx-base: #FFFFFF;
    /*-fx-background-color: #B0C4DE;*/
    -fx-background-color: linear-gradient(to bottom, #7ec8e3 0%, #dfe9f3 100%);

}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #2F4F4F;
}

.text-field {
    -fx-background-color: #F0F8FF;
    -fx-border-color: #708090;
    -fx-padding: 5px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    /*-fx-pref-width: 200;*/
}

.button {
    -fx-background-color: #4682B4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 20 5 20;
    -fx-end-margin: 10;
}

.button:hover {
    -fx-background-color: #5F9EA0;
}

.vbox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.grid-pane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-alignment: center;
}

.image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.weather-info {
    -fx-background-color: #F0FFFF;
    -fx-border-color: #87CEFA;
    -fx-border-radius: 5;
    -fx-padding: 10px;
    -fx-alignment: top-center;
}
.header {
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.weather-header {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #eb6c42;
    -fx-padding: 0 0 10 0;
}

.text-field {
    -fx-background-color: rgba(237, 237, 237, 0.8);
    -fx-underline: true;
    -fx-outline: none;
    -fx-border-color: transparent;
}